@import "theme.css";

* {
  /* background-color: @background; */
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 12px;
  font-weight: bold;
}

.modules-left * {
  margin-left: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
}

.modules-right * {
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 16px;
}

#waybar {
  border-radius: 10px;
  background: @base;
}

#workspaces button {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: @magenta;
  padding: 0 10px;
  transition: 0.2s ease-out;
}

#workspaces button.active,
#workspaces button.focused {
  padding: 0 25px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  color: @red;
}

#cpu {
  padding: 0 10px;
  background-color: @black;
}
#memory {
  padding: 0 10px;
  background-color: @black;
}
#pulseaudio {
  padding: 0 10px;
  background-color: @black;
}
#clock {
  padding: 0 10px;
  background-color: @black;
}
#custom-wlogout {
  border: 1px solid @magenta;
  padding: 0 10px;
  background-color: @black;
}
tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
