@import "theme.css";

* {
  /* background-color: @background; */
  color: @text;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  font-weight: bold;
}

.modules-left * {
  margin-left: 16px;
}

.modules-right * {
  margin-right: 16px;
}

#waybar {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 120px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 24px;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: @lavender;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  color: @sunset;
}

#cpu,
#memory,
#battery,
#clock,
#pulseaudio,

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
