@import "theme.css";

* {
  /* background-color: @background; */
  all: unset;
  font-family: "CaskaydiaMono Nerd Font Propo";
  font-size: 13px;
  font-weight: bold;
}

.modules-left * {
  margin-left: 16px;
}

.modules-right * {
  margin-right: 16px;
}

#waybar {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 120px;
}

#workspaces button {
	color: @text;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	padding: 0 20px;
  transition: 0.2s ease-out;
}

#workspaces button.active,
#workspaces button.focused {
	padding: 0 30px;
	color: @lavender;
	background: rgba(255,255,255,0.06);
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  color: @sunset;
}

#cpu,
#memory,
#clock,
#pulseaudio,

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
