@define-color base            #191724;

@define-color dim_text        #908caa;
@define-color text            #e0def4;

@define-color black           #26233a;
@define-color dim_black       #6e6a86;
@define-color red             #eb6f92;
@define-color green           #31748f;
@define-color yellow          #f6c177;
@define-color blue            #9ccfd8;
@define-color magenta         #c4a7e7;
@define-color cyan            #ebbcba;
@define-color white           #e0def4;
