@define-color base            #221B2F;
@define-color surface         #352D47;
@define-color overlay         #2B243B;

@define-color muted           #5D4E7E;
@define-color subtle          #6F6055;
@define-color text            #E6E0F8;

@define-color lavender        #c28eff;
@define-color sunset          #FFA247;
@define-color red             #ED7777;
